@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
    --lexend-font: 'Lexend Deca', sans-serif;
    --big-shoulders: 'Big Shoulders Display', cursive;

    --font-size: 15px;

    --primary-orange: hsl(31, 77%, 52%);
    --primary-dark-cyan: hsl(184, 100%, 22%);
    --primary-very-dark-cyan: hsl(179, 100%, 13%);

    --neutral-white: hsla(0, 0%, 100%, 0.75);
    --neutral-very-light-gray: hsl(0, 0%, 95%);
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 500px;
    grid-template-areas: 
    "sedan suvs luxury";
    width: 900px;
}

.sedan {
    grid-area: sedan;
    background-color: var(--primary-orange);
}

.suvs {
    grid-area: suvs;
    background-color: var(--primary-dark-cyan);
}

.luxury {
    grid-area: luxury;
    background-color: var(--primary-very-dark-cyan);
}
/* font-family: 'Big Shoulders Display', cursive;
font-family: 'Lexend Deca', sans-serif; */